.cursos {
    background: #f8f9fa;
    padding-top: 70px;
    padding-bottom: 70px;
}

.card-body-cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: justify;
    padding: 15px 20px;
}

.btn-cursos {
    background-color: none;
    color: #131489;
    border: 1px solid #131489;
    border-radius: 5px;
    padding: 4px 0px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s, transform 0.2s;
    margin-top: auto;
}

.btn-cursos:hover {
    transition: 0.3s, transform 0.2s;
    background-color: #131489;
    color: #fff;
}
