.card {
    max-width: 600px;
    width: 100%;
}

.card-body-depoimentos {
    display: flex;
}

.aluno {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 70px;
}

.card-body .icon-demoimentos {
    float: left;
    margin-right: 10px;
    color: #131489;
    background: none;
    font-size: 30px;
}

@media (max-width: 550px) {
    .card-body-depoimentos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
